@def l-border-radius        8px;
@def l-border-radius-md     12px;
@def l-border-radius-lg     16px;
@def l-button-padding       12px 24px;


@def f-h1                   'Inter', 'Roboto', sans-serif;
@def f-h3                   'Inter', 'Poppins', 'Roboto', sans-serif;
@def f-h4                   'Inter', 'Roboto', sans-serif;
@def f-button               'Inter', 'Poppins', 'Roboto', sans-serif;
