@def c-primary #4F46E5;
@def c-primary-dark #4338CA;
@def c-highlight #EEF2FF;
@def c-background #F9FAFB;
@def c-background-dark #E5E7EB;
@def c-danger #EF4444;
@def c-danger-dark #DC2626;

@def c-text #111827;
@def c-text-button #374151;

@def c-border-dark #D1D5DB;
@def c-border-light #4F46E5;